<div class="full-container">
        <div class="slider-content">
            <ul id="pager2" class="container">
            </ul>

            <span class="prevControl sliderControl"> <i class="fa fa-angle-left fa-3x "></i></span> <span
                class="nextControl sliderControl"> <i class="fa fa-angle-right fa-3x "></i></span>

            <div class="slider slider-v1"
                 data-cycle-swipe=true
                 data-cycle-prev=".prevControl"
                 data-cycle-next=".nextControl" data-cycle-loader="wait">

                <div class="slider-item slider-item-img2 ">
                    <div class="sliderInfo">
                        <div class="container">

                            <div class="col-lg-12 col-md-12 col-sm-12 sliderTextFull ">
                                <div class="inner text-center">
                                    <div class="topAnima animated">
                                        <h3 class="hidden-xs"> We are coming soon </h3>

                                    <p class="bot tomAnima animated opacity0 hidden-xs"> Fully responsive bootstrap
                                    </div>
                                    <a class="btn btn-danger btn-lg bottomAnima animated opacity0"> Notify Me</a>
                                </div>
                            </div>


                        </div>
                    </div>
                    <img src="images/slider/slider3.jpg" class="img-responsive parallaximg sliderImg" alt="img"></div>

            </div>
        </div>
    </div>